<br><br>
<div *ngIf="postData" id="webcrumbs"> 
  <div class="w-[800px] min-h-[600px] bg-white shadow-lg rounded-lg p-6">
    <ul class="space-y-4">
      <li class="border-b border-neutral-300 pb-4">
        <h2 class="text-xl font-semibold text-neutral-950">User ID: {{postData.userId}}</h2>
        <h3 class="text-lg text-neutral-950">ID: {{postData.id}}</h3>
        <p class="text-neutral-950">Title: {{postData.title}}</p>
        <p class="text-neutral-700">Body: {{postData.body}}</p>
      </li>
    </ul>
  </div><br><br>
  <div class="back-button-container">
    <button class="back-button" (click)="goBack()">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="icon">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
    </button>
  </div>
</div>
<div *ngIf="!postData" class="loading-text">
    <br><br><p>Loading...</p>
</div>
  